[build]
rustflags = ["-C", "target-cpu=native"]

[target.'cfg(target_os = "linux")']
rustflags = ["-C", "target-cpu=native", "-C", "link-arg=-Wl,--allow-multiple-definition"]

[profile.dev]
opt-level = 1
debug = true

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = 'abort'
